<div class="">
    <div class="header-hero-content flex justify-center">
        <div class="container">
            <div class="header-description px-[15px]">
                <div class="px-[40px]">
                    <div class="text-[24px]">Accelerate Your Future with NVIDIA AI</div>
                    <div class="text-[24px] mt-[30px]">Descubra uma vasta coleção de tutoriais, cursos online, livros
                        recomendados
                        e
                        ferramentas de
                        desenvolvimento para aprimorar suas habilidades e alcançar novos patamares na sua carreira
                        tecnológica.</div>
                    <div class="mt-[40px] mb-[30px] gap-[20px] flex justify-center">
                        <button class="header-get-started" mat-raised-button extended
                            aria-label="Example icon button with a heart icon">
                            Get Started
                            <mat-icon matSuffix>favorite</mat-icon>
                        </button>
                        <button class="header-learn-more" mat-raised-button>Learn More</button>
                    </div>
                </div>

            </div>
            <div class="header-image">
                <img src="assets/images/Cover.png" alt="no Cover image file">
            </div>
        </div>
    </div>
</div>